
* {
    box-sizing: border-box;
  }
  
  .left-container {
    float: left;
    position: relative;
    max-width: 20%;
    height: 1020px;
  }
  
  .left-container img {
    max-width:50%;
    height:auto;
  }
  
  .one-line {
    display: inline-block;
  }
  
  /* Sidebar/left column */
  .left-side {
    -ms-flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
  }
  
  .user-info h2{
    text-align: center;
  }
  
  .user-info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .right-container {
    float: left;
    position: relative;
    height: 1020px;
    width: 80%;
  }
  
  .right-side {
    -ms-flex: 30%;
    /* background-color: #d6d6d6; */
    padding: 20px;
    height: 100%;
  }
  
  
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  
  tabcontent, h2, p{
    text-align: center;
    padding: 8px;
  }
  
  tabcontent, p{
    text-align: center;
    font-size: 18px;
  }
  
  #user-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #user-options li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  #user-options li a:hover {
    background-color: #d8d8d8;
  }
  

  