{% import "bootstrap/wtf.html" as wtf %}
<head>
	<title>FuchiCorp</title>
  <link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
  <link rel="stylesheet" href="/static/main/top.css" type="text/css">
  <link rel="stylesheet" href="/static/signup/style.css" type="text/css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="topnav">
	<a class="active" href="{{ url_for('login') }}">Login</a>
	  <a href="{{ url_for('raiting') }}">Raiting</a>
	  <a href="{{ url_for('pynote') }}">PyNote</a>
	  <a class="green" id="signup-btn" href="{{ url_for('signup') }}">SignUp today</a>
	  <a href="{{ url_for('index') }}">Home</a>
	  </div>
  </div>
  </head>



<link rel="stylesheet" href="/static/style.css" type="text/css">
<!-- <link rel="stylesheet" href="/static/recaptcha.css" type="text/css"> -->

{% block body %}


<style>
body {
    font-family: Arial;
	background-color: #141415;
	padding: 0;
}
.btn {
    border: 2px solid transparent;
    background: #28a745;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}
</style>

<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			<div class="login-form">
				<div class="control-group">
					{{ form.hidden_tag() }}
					{{ wtf.form_field(form.username) }}


				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				{{ wtf.form_field(form.password) }}
				{{ wtf.form_field(form.remember) }}
				{{ form.recaptcha }}

				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <h3 style="color: red;">{{ message }}</h3>
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >

			    <br>
			</div>
		</div>
	</div>
</form>

{% endblock %}
