{% extends "base.html" %}

{% block content %}
  <!-- Everything goes here on each page -->
<style>
.app-title {
  margin: auto;
  text-align: center;
  padding: 10px;
  color: white;
}
body {
	background-color: #141415;
	padding: 0;
}
.btn {
    border: 2px solid transparent;
    background: #28a745;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
    text-transform: none;
}
* {
  text-transform: none;
}
</style>

  {% if not user.is_authenticated %}
    <h1 style="text-align: center; color: #ffffff; padding: 10px;">Currenly you are not authenticated</h1>
    <div class="login">
      <div class="login-screen">
        <div class="app-title">
          <h1>Redirect Login</h1>
        </div>
        <div class="login-form">
          <div class="control-group">
          <a href="/login"><input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" ></a>
        </div>
        <h2>Or</h2>
        <div class="login-form">
          <div class="control-group">
            <a href="{% url 'social:begin' 'github' %}"><input type="submit" value="Github login" class="btn btn-primary btn-large btn-block" ></a>
        </div>
      </div>
    </div>
  {% endif %}
  


{% endblock  %}