

/* body {
  background-color: white
} */

.media-content .content {
  color: black;
}

html {
  background-color: transparent;
}

strong {
    color: #05b98f;
    font-weight: 700;
}

.navbar>.container {
  background-color: #2f3742;
}

.navbar {
  background-color: #2f3742;
}
