
* {
  box-sizing: border-box;
}

.body-container {
  display: inline-block;
  position: relative;
  height: 1000px;
  width: 100%;
}

.left-container {
  float: left;
  position: relative;
  max-width: 20%;
  height: 1020px;
}

.left-container img {
  max-width:50%;
  height:auto;
}

.one-line {
  display: inline-block;
}

.right-container {
  float: left;
  position: relative;
  height: 1020px;
  width: 80%;
}

.body-box {
  /* background-color: #d6d6d6; */
  padding: 20px;
  height: 100%;
  width: 100vw;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}



table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

tabcontent, h2, p{
  text-align: center;
  padding: 8px;
}

tabcontent, p{
  text-align: center;
  font-size: 18px;
}

#user-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#user-options li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#user-options li a:hover {
  background-color: #d8d8d8;
}

.sections-wrp  {
  color: #48485e;
}

img {
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
}

.hc-logo-container {
  color: #48485e;
  margin: 60px 148px 0;
}

.section-title-medium {
  font-size: 24px;
  font-weight: 500;
  color: #48485e;
  text-align: center;
}

.pricing-container {
  height: 60%;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #FFDF00;
  color: black;
  font-size: 25px;
}

.price .header-basic {
  background-color: #2f3742;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}