<!DOCTYPE html>
<html>
<head>
  <title>FuchiCorp</title>
<link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
<link rel="stylesheet" href="/static/main/top.css" type="text/css">
<link rel="stylesheet" href="/static/main/footler.css" type="text/css">
<link rel="stylesheet" href="/static/main/menu.css" type="text/css">
<link rel="stylesheet" href="/static/dashboard/dashboard.css" type="text/css">
<!-- <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="topnav">
  <a class="active" href="{{ url_for('logout') }}">logout</a>
    <a href="{{ url_for('raiting') }}">Raiting</a>
    <a href="{{ url_for('pynote') }}">PyNote</a>
    <a href="{{ url_for('admin.index') }}">Admin</a>
    <div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    </div>
</div>
</head>

<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('chat') }}">Chating</a>
    <a href="{{ url_for('videos') }}">Videos</a>
    <a href="{{ url_for('contact') }}">Contact us</a>
  </div>

  <div class="body-container">
    <div class="left-container one-line">
        <div class="left-side">
          <div class="user-info">
            <a  href="/profile/{{ user_data.username }}"> <img src="/static/images/user-icon.png"></img></a>
            <h2>{{ fname }} {{ lname }}</h2>
          </div>
          <ul id="user-options">
            <li><a href="{{ url_for('dashboard') }}">My Dashboard</a></li>
            <li><a href="/profile/{{ user_data.username }}">My Profile</a></li>
            <li><a href="/settings/{{ user_data.username }}">Settings</a></li>
            <li><a href="/issuer/{{ user_data.username }}">My Issues</a></li>
            <li><a href="/faq/{{ user_data.username }}">FAQ</a></li>
          </ul>
        </div>
    </div>
    <div class="right-container one-line">
      <div class="right-side">
        <div class="tab">
          <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'PyNote')">PyNote</button>
          <button class="tablinks" onclick="openTab(event, 'Users')">Users</button>
          <button class="tablinks" onclick="openTab(event, 'Jenkins')">Jenkins</button>
        </div>

        <div id="PyNote" class="tabcontent">
          <h2>FuChiCorp Pynote</h2>
          <p>PyNote is the an online learning platform. It's aimed at restless professionals chasing after success. Fuchicorp has made innovation very easy for those who are self driven. With PyNote you can learn, build, and deploy! Request a PyNote now as investment to your future!</p>

          <table>
            {% for item in pynot %}
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Owner</th>
              <th>Link</th>
            </tr>
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.server_name }}</td>
              <td>{{ item.username }}</td>
              <a href="{{ item.pynotelink }}"><td>{{ item.pynotelink }}</td></a>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div id="Users" class="tabcontent">
          <h3>FuChiCorp Academy Members.</h3>
          <table>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
            </tr>
            {% for item in users %}
            <tr>
              <td>{{ item.firstname }}</td>
              <td>{{ item.lastname }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.role }}</td>
              <td>{{ item.status }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div id="Jenkins" class="tabcontent">
          <h3>Jenkins</h3>
          <p>Jenkins is one of the popular CI/CD tools.</p>
        </div>

      </div>
    </div>
  </div>

</body>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

</script>
</body>
<div class="emtyspace">
</div>


<footer class="footer">
  <p>&copy;  FuchiCorp 2019</p>
</footer>

</html>
