<!DOCTYPE html>
<html>
<head>
   <title>FuchiCorp</title>
<link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
<link rel="stylesheet" href="/static/main/top.css" type="text/css">
<link rel="stylesheet" href="/static/main/footler.css" type="text/css">
<link rel="stylesheet" href="/static/main/menu.css" type="text/css">
<link rel="stylesheet" href="/static/pynote/style.css" type="text/css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="topnav">
  <a class="active" href="{{ url_for('logout') }}">logout</a>
    <a href="{{ url_for('raiting') }}">Raiting</a>
    <a href="{{ url_for('pynote') }}">PyNote</a>
    <a href="{{ url_for('admin.index') }}">Admin</a>
  <div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
</div>
</div>
</head>
  </table>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('chat') }}">Chating</a>
    <a href="{{ url_for('videos') }}">Videos</a>

    <a href="{{ url_for('contact') }}">Contact us</a>
    <a href="{{ url_for('pynote') }}">PyNote</a>
  </div>

</head>
<body>
  <div id="notLoading" ></div>

  <div class="master-info">
    <ul class="hs">
      {% for item in pynotes %}
      <div class="item">
        <h4>ID: {{ item.id }}</h4>
        <h4>Name: {{ item.server_name }}</h4>
        <h4>USER: {{ item.username }}</h4>
        <a style="text-decoration: none; color: white;" href="{{ item.pynotelink }}">link: {{ item.pynotelink }}</a>
      </div>
      {% endfor %}
      <button id="myBtn">Create PyNote</button>
  </ul>
 </div>



<meta name="viewport" content="width=device-width, initial-scale=1">



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <div class="request-form" style='display:block' id="requestPynote">
        <div class="background-PyNote-form">
          <form method="POST" onsubmit="loadingFunc()">

            <div class="top-text">
              <h2>Request a PyNote from Kuber Cluster</h2>
            </div>

            <h4>Please enter informations for PyNote</h4>
            <br>
            <h5>Server Name</h5>
            <input type="text" name="server-name"  onfocus="this.value=''" placeholder="Enter server name" required>

            <h5>Password for Notebook</h5>
            <input type="password" name="password"  onfocus="this.value=''" placeholder="Please enter the password" required>

            <input  type="submit" onsubmit="loadingFunc()"  value="Create PyNote Platform" >
            <center> <h3 > {{ pynoteCreated }}</h3>
            <h3 style="color: red;"> {{ errorMessage }} </h3></center>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<script>


var myVar;

// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}


function loadingFunc() {
  document.getElementById("notLoading").id = 'loader'
  document.getElementById("requestPynote").style.display = 'none'
  myVar = setTimeout(showPage, 200000);
}

function showPage() {
  document.getElementById("loader").id = "notLoading";
}


// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>
</body>


</html>
