<!DOCTYPE html>
<html>
<head>
{% import "bootstrap/wtf.html" as wtf %}
  <title>FuchiCorp</title>
<link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
<link rel="stylesheet" href="/static/main/top.css" type="text/css">
<link rel="stylesheet" href="/static/main/footler.css" type="text/css">
<link rel="stylesheet" href="/static/main/menu.css" type="text/css">
<link rel="stylesheet" href="/static/settings/settings.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="topnav">
  <a class="active" href="{{ url_for('logout') }}">logout</a>
    <a href="{{ url_for('raiting') }}">Raiting</a>
    <a href="{{ url_for('pynote') }}">PyNote</a>
    <a href="{{ url_for('admin.index') }}">Admin</a>
    <div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    </div>
</div>
</head>

{% block body %}
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('chat') }}">Chating</a>
    <a href="{{ url_for('videos') }}">Videos</a>
    <a href="{{ url_for('contact') }}">Contact us</a>
  </div>

  <div class="body-container">
    <div class="left-container one-line">
        <div class="left-side">
          <div class="user-info">
            <a  href="/profile/fsadykov"> <img src="/static/images/user-icon.png"></img></a>
            <h2>{{ fname }} {{ lname }}</h2>
          </div>
          <ul id="user-options">
            <li><a href="{{ url_for('dashboard') }}">My Dashboard</a></li>
            <li><a href="/profile/{{ user_data.username }}">My Profile</a></li>
            <li><a href="/settings/{{ user_data.username }}">Settings</a></li>
            <li><a href="/issuer/{{ user_data.username }}">My Issues</a></li>
            <li><a href="/faq/{{ user_data.username }}">FAQ</a></li>
          </ul>
        </div>
    </div>
    <div class="right-container one-line">
      <div class="right-side">
        <div class="settings-form">
          <h1>Edit My profile</h1>
          <form  method="POST">
            {{ wtf.form_field(formProfile.firstname, placeholder=user_data.firstname) }}

            {{ wtf.form_field(formProfile.lastname, placeholder=user_data.lastname) }}

            {{ wtf.form_field(formProfile.username, placeholder=user_data.username) }}

            {{ wtf.form_field(formProfile.email, placeholder=user_data.email) }}
            <input type="hidden" name="settingsForm" value="EditProfileSubmit" >
            <input type="submit" name="EditProfileSubmit" value="Submit">
          </form>
        </div>

        <div class="settings-form">
          <h1>Delete My Pynote</h1>
          <form method="POST">
            {{ wtf.form_field(formPynote.username, placeholder=user_data.username) }}
            {{ wtf.form_field(formPynote.pynote_name, placeholder='PyNote Name') }}
            <input type="hidden" name="settingsForm" value="DeletePyNote" >

            <a href="/pynote"><button class="delete" type="button" name="Create PyNote">Create PyNote</button></a> 
            <input type="submit" value="Delete">
          </form>
        </div>

        <div class="settings-form">
          <h1>Change the Password</h1>
          <form method="POST">
            {{ wtf.form_field(formPassword.current, placeholder='Current Password') }}
            {{ wtf.form_field(formPassword.password, placeholder='New Password') }}
            {{ wtf.form_field(formPassword.confirm, placeholder='Confirm Password') }}
            <input type="hidden" name="settingsForm" value="ChangePassword" >
            <input type="submit" value="Submit">
          </form>
        </div>

        <div class="message">
          <h3>Message: {{ message }}</h3>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

</script>

</script>
</body>
<div class="emtyspace">
</div>


<footer class="footer">
  <p>&copy;  FuchiCorp 2019</p>
</footer>

</html>
{% endblock %}
