
{% extends "base.html" %}
{% block content  %}
<body>

  <!-- Inclouded left bar which is contians dashboard and some profile links -->
  {% include "leftbar.html" %}

    <div class="right-container one-line">
      <div class="right-side">
        <div class="tab">
          <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'PyNote')">PyNote</button>
          <button class="tablinks" onclick="openTab(event, 'Users')">Users</button>
          <button class="tablinks" onclick="openTab(event, 'Jenkins')">Jenkins</button>
        </div>

        <div id="PyNote" class="tabcontent">
          <h2>FuChiCorp Pynote</h2>
          <p>PyNote is the an online learning platform. It's aimed at restless professionals chasing after success. Fuchicorp has made innovation very easy for those who are self driven. With PyNote you can learn, build, and deploy! Request a PyNote now as investment to your future!</p>

          <table>
            {% for item in pynote %}
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Owner</th>
              <th>Link</th>
            </tr>
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.server_name }}</td>
              <td>{{ item.username }}</td>
              <a href="{{ item.pynotelink }}"><td>{{ item.pynotelink }}</td></a>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div id="Users" class="tabcontent">
          <h3>FuChiCorp Academy Members.</h3>
          <table>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
            </tr>
            {% for item in users %}
            <tr>
              <td>{{ item.first_name }}</td>
              <td>{{ item.last_name }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.role }}</td>
              <td>{{ item.status }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div id="Jenkins" class="tabcontent">
          <h3>Jenkins</h3>
          <p>Jenkins is one of the popular CI/CD tools.</p>
        </div>
      </div>
    </div>

</body>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

</script>
</body>
  <div class="emtyspace">
</div>
{% include "footer.html" %}
</html>
{% endblock %}