<link rel="stylesheet" href="/static/style.css" type="text/css">
<head>
  <title>FuchiCorp</title>
  <link rel="stylesheet" href="/static/top.css" type="text/css">
  <link rel="stylesheet" href="/static/footer.css" type="text/css">
  <link rel="stylesheet" href="/static/menu.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
  <div class="topnav">
      <a class="active" href="/logout">logout</a>
      <a class="active" href="{% url 'social:begin' 'github' %}">GitHub Login</a>
      <a href="">Raiting</a>
      <a href="">PyNote</a>
      <a href="">Admin</a>
      <div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
      </div>
  </div>


<style>
body {
    font-family: Arial;
	background-color: #141415;
	padding: 0;
}
.btn {
    border: 2px solid transparent;
    background: #28a745;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}
</style>

	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Redirect Login</h1>
      </div>
      <div class="login-form">
        <div class="control-group">
        <a href="/login"><input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" ></a>
      </div>
		</div>
	</div>

</body>
