
.navbar .collapse a {
  margin: 10px;
}

/* Add a transparency effect for thumnbail images */
.footer p {
  padding: 10px;
}

.informer {
  padding: 20px;
  background-color: #e9ecef;
  margin: 20px;
  border-radius: 8px;
}

.informer h5 {
  text-align: center;
  color: black;
}
